<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="condb" connectionString="Data Source=LAPTOP-V8SIGI6K;Initial Catalog=databasests1;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="STS.Properties.Settings.databasests1ConnectionString"
   connectionString="Data Source=LAPTOP-V8SIGI6K;Initial Catalog=databasests1;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>